<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/dog.svg" width="30" height="30" class="d-inline-block align-top" alt="">
     Doggo
  </a>
</nav>

<div class="container">

  <div class="card" style="width: 20rem;">
  <img class="card-img-top img-fluid" height="50" src="https://placeimg.com/100/100/animals" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>
